<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./temp.css">
</head>
<body>
  <p class="normal">They say the fishing is excellent at
    Lake Chargoggagoggmanchauggagoggchaubunagungamaugg,
    though I've never been there myself. (normal)</p>
  <p class="overflow-wrap">They say the fishing is excellent at
    Lake Chargoggagoggmanchauggagoggchaubunagungamaugg,
    though I've never been there myself. (overflow-wrap)</p>
  <p class="word-break">They say the fishing is excellent at
    Lake Chargoggagoggmanchauggagoggchaubunagungamaugg,
    though I've never been there myself. (word-break)</p>
  <p class="hyphens">They say the fishing is excellent at
    Lake Chargoggagoggmanchauggagoggchaubunagungamaugg,
    though I've never been there myself. (hyphens)</p>
  
</body>
</html>